<!-- HEADER -->
<div class="mod-header outer">
    <header class="content">
        <div class="title">
            <h2 class="blog-title">{{ site.title }}</h2>
            <p class="blog-desc">{{ site.description }}</p>
        </div>
        <nav class="mod-nav">
            <ul>
                {% for nav in site.navs %}
                <li>
                    <a class="" href="{{ nav.url }}">{{ nav.text }}</a>
                </li>
                {% endfor %}
            </ul>
        </nav>
    </header>
    <div class="menu-icon"></div>
</div>