/**
 * @fileOverview 
 * @author daiying.zhang
 */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
ol,ul{list-style:none}
table{border-collapse:collapse;border-spacing:0}
body{box-sizing:border-box;color:#373737;font-size:20px;font-family:'Myriad Pro',Calibri,Helvetica,Arial,sans-serif;line-height:1.5;-webkit-font-smoothing:antialiased}
h1,h2,h3,h4,h5,h6{margin:10px 0;font-weight:400;color:#222;font-family:'Lucida Grande','Calibri',Helvetica,Arial,sans-serif;letter-spacing:-1px}
h1{font-size:36px;font-weight:700}
h2{font-size: 26px; font-weight:400;}
h3{font-size:23px}
h4{font-size:20px}
h5{font-size:18px}
h6{font-size:16px}
p{margin:10px 0 15px 0}
footer p{color:#f2f2f2}
a{text-decoration:none;color:#0080C8;text-shadow:none;transition:color .5s ease;transition:text-shadow .5s ease;-webkit-transition:color .5s ease;-webkit-transition:text-shadow .5s ease;-moz-transition:color .5s ease;-moz-transition:text-shadow .5s ease;-o-transition:color .5s ease;-o-transition:text-shadow .5s ease;-ms-transition:color .5s ease;-ms-transition:text-shadow .5s ease}
a:hover,a:focus{text-decoration:underline;color:#0080C8;}
footer a{color:#f2f2f2;text-decoration:underline}
em{font-style:italic}
strong{font-weight:bold}
img{position:relative;margin:0 auto;max-width:739px;padding:5px;border:1px solid #ebebeb;box-shadow:0 0 5px #ebebeb;-webkit-box-shadow:0 0 5px #ebebeb;-moz-box-shadow:0 0 5px #ebebeb;-o-box-shadow:0 0 5px #ebebeb;-ms-box-shadow:0 0 5px #ebebeb}
p img{max-width:100%; display:block;margin:0 auto;padding:0;vertical-align:middle;text-align:center;border:0}
pre,code{color:#f92665;border: 1px solid #ddd;background-color: #f8f8f8;font-family:Monaco,"Bitstream Vera Sans Mono","Lucida Console",Terminal,monospace;font-size:14px;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px}
pre{padding:10px;box-shadow:0 0 10px rgba(0,0,0,.1);overflow:auto}
code{padding:3px;margin:0 3px;box-shadow:0 0 10px rgba(0,0,0,.1); position:relative; top:-2px;}
pre code{display:block;box-shadow:none}
blockquote{position:relative;font-family: georgia, sans-serif;font-size: 18px;color: #3D3D3D;margin-bottom:20px;font-style:italic;padding:20px 0 0 20px;/* border-left: 3px solid #EBE3E3; */}
blockquote:before{content:"\201C";font-size:60px;position:absolute;left:-10px;top:-10px;font-family:georgia,serif;color:#eee;}
ul,ol,dl{margin-bottom:15px}
ul{list-style:inside;padding-left:20px}
ol{list-style:decimal inside;padding-left:20px}
dl dt{font-weight:bold}
dl dd{padding-left:20px;font-style:italic}
dl p{padding-left:20px;font-style:italic}
hr{height:1px;margin-bottom:5px;border:0;background:url('../images/bg_hr.png') repeat-x center}
table{border:1px solid #373737;margin-bottom:20px;text-align:left}
th{font-family:'Lucida Grande','Helvetica Neue',Helvetica,Arial,sans-serif;padding:10px;background:#373737;color:#fff}
td{padding:10px;border:1px solid #373737}
form{background:#f2f2f2;padding:20px}
::selection{background:#0080C8;color:#ffffff;}
