/**
 * @fileOverview 整体布局
 * @author daiying.zhang
 */
@import "./common.css";

@import "./mod-header.css";
@import "./mod-nav.css";
@import "./mod-list.css";
@import "./mod-content.css";
@import "./mod-pager.css";
@import "./mod-disqus.css";
@import "./mod-footer.css";

/*.inner{max-width:840px;padding:20px 10px;margin:0 auto}*/
@media screen and (max-width:850px) {
    .mod-header{padding: 5px}
    .mod-nav{width: 100%;line-height:40px; text-align: left}
}
@media screen and (max-width:480px) {
    .mod-header{padding: 5px}
    .mod-header .blog-desc{display: none}
    .mod-header .blog-title{font-size: 30px}
    .mod-nav{font-size: 20px; line-height: 30px; }

    .mod-list .post{padding-bottom: 50px; padding-left:5px; padding-right:5px;}
    .mod-list .description{margin-top: 0; }
    .mod-list .post h2{font-size:26px; padding: 20px 0;margin: 0;}

    .mod-content .post{font-size:16px; padding-bottom: 50px;}
    .mod-content .description{margin-top: 0; }
    .mod-content .post h1{font-size:22px; padding: 20px 5px;margin: 0;}
    
    .mod-disqus{padding-left:5px; padding-right:5px;}
}

/*
@media screen and (min-width: 769px) and (max-width: 840px) {
    .mod-nav{width: 100%; float: none; text-align: left; line-height: 30px; }
}*/
