/**
 * @fileOverview 文章内容模块
 * @author daiying.zhang
 */

.mod-content{min-height:400px;padding: 5px;background: #ffffff;}
.mod-content .post{max-width:840px; margin:0 auto;padding-bottom: 90px;}
.mod-content .post h1{padding: 60px 0 20px;margin: 0; color:#464646;font-size: 30px;font-weight: 400;}
.mod-content .post h2{border-bottom: 1px dashed #eee; margin-bottom:25px; margin-top: 50px;}
.mod-content .post .read-more{background: #5F8BA8;display:inline-block;padding:1px 8px; border-radius:4px}
.mod-content .post .read-more a{color: #ffffff;}
.mod-content .description{color: #A7AAB1;}
