/**
 * @fileOverview 头部模块
 * @author daiying.zhang
 */

/** 头部 **/
.mod-header{overflow:hidden;padding-top: 20px;background:#071D28;background:-moz-linear-gradient(top,#000407,#071D28);background:-webkit-linear-gradient(top,#000407,#071D28);background:-ms-linear-gradient(top,#000407,#071D28);background:-o-linear-gradient(top,#000407,#071D28);background:linear-gradient(top,#000407,#071D28);/* position:relative */}
.mod-header .title{width: 210px; float: left}
.mod-header .content{max-width:840px;margin: 0 auto; padding: 0 5px;}
.mod-header .blog-title{margin:0;color:#fff;font-size: 36px;font-weight:700;text-shadow:#111 0 0 10px;padding-bottom: 0;}
.mod-header .blog-desc{color:#fff;font-size: 22px;font-weight:300;background:0;text-shadow:#111 0 0 10px;margin: 0 0 10px;}