---
layout: default
---

<ul class="article list">
{% for post in site.posts %}
    {% if post.tags contains page.slug or page.slug == "other" and post.tags.size == 0 %}
    <li class="article-info">
        <a href="{{ site.baseurl }}{{ post.url }}">
            <h2 class="post-title">{{ post.title }}</h2>
        </a>
        <p>{{ post.excerpt | strip_html | truncate: 50 }}</p>
        <div class="info-footer">
            <!--@author : 念在三角湖畔@time :  -->
            <time class="item" pubdate="{{ post.date | date_to_utc | date: '%Y-%m-%d' }}">
                {{ post.date | date_to_utc | date: "%Y-%m-%d" }}
            </time>
            <span class="divider">-</span>
            <span class="item">
              {% capture words %}
                {{ post.content | number_of_words }}
              {% endcapture %}
              {% unless words contains "-" %}
                {{ words | plus: 250 | divided_by: 250 | append: " minute read" }}
              {% endunless %}
            </span>

            <span class="divider">-</span>

            <div class="item article-tags">
              {% if post.tags.size > 0 %}
                 {% for tag in post.tags %}
                    <a href="{{ 'tag/' | relative_url }}{{ tag | replace: ".", "-" }}">{{ tag }}</a>
                 {% endfor %}
              {% else %}
                <a href="{{ 'tag/' | relative_url }}other">OTHER</a>
              {% endif %}
            </div>
        </div>
    </li>
    {% endif %}
{% endfor %}
</ul>
