<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Your Name" />
    <meta name="viewport" content="width=device-width,maximum-scale=1.0,initial-scale=1.0,minimum-scale=1.0,user-scalable=yes,shrink-to-fit=no">
    <link rel="stylesheet" href="{{ site.baseUrl }}/styles/reset.css">
    <link rel="stylesheet" href="{{ site.baseUrl }}/styles/main.css">
    <link rel="stylesheet" href="{{ site.baseUrl }}/styles/highlight.css">
    <link rel="stylesheet" href="{{ site.baseUrl }}/fonts/style.css">
    <title>{{ page.title }}</title>
  </head>
  <body>
    {% include header.html %}
    <section class="page-main">
      {{ content }}
    </section>
    {% include footer.html %}
  </body>
</html>
