<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Your Name" />
    <link rel="stylesheet" href="{{ site.baseUrl }}/styles/reset.css">
    <link rel="stylesheet" href="{{ site.baseUrl }}/styles/main.css">
    <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
    <title>{{ page.title }}</title>
  </head>
  <body>
    {% include header.html %}
    <section class="page-main">
      {{ content }}
    </section>
  </body>
</html>
