---
layout: layout
---

<article class="article">
    <header class="article-info">
        <h1 class="post-title">{{ page.title }}</h1>
        <!-- <p>{{ page.excerpt | strip_html | truncate: 50 }}</p> -->
        <div class="info-footer">
            <!--@author : 念在三角湖畔@time :  -->
            <time class="item" pubdate="{{ page.date | date_to_utc | date: '%Y-%m-%d' }}">
                {{ page.date | date_to_utc | date: "%Y-%m-%d" }}
            </time>
            <span class="divider">-</span>
            <span class="item">
              {% capture words %}
                {{ page.content | number_of_words }}
              {% endcapture %}
              {% unless words contains "-" %}
                {{ words | plus: 250 | divided_by: 250 | append: " minute read" }}
              {% endunless %}
            </span>

            {% if post.tags.size > 0 %}
            <span class="divider">-</span>
            <div class="item article-tags">
              {% for tag in page.tags %}
                <a href="{{ 'tag/' | relative_url }}{{ tag }}">{{ tag }}</a>
              {% endfor %}
            </div>
            {% endif %}
        </div>
    </header>

    <div class="article-content">
      {{ content }}
    </div>

    <div class="article-share">
      {% assign page_title = page.title  | truncate '110' %}
      <a href="" title="Share on Twitter" onclick="window.open('https://twitter.com/home?status={{ page_title }} - {{ page.url | absolute_url }} {% if site.social.twitter %}by @{{ site.social.twitter }}{% endif %}', 'newwindow', 'width=500, height=225'); return false;">
        <span class="icon-twitter"></span>
      </a>
      <a href="" title="Share on Facebook" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u={{ page.url | absolute_url }}', 'newwindow', 'width=500, height=500'); return false;">
        <span class="icon-facebook2"></span>
      </a>
      <a href="" title="Share on Google+" onclick="window.open('https://plus.google.com/share?url={{ page.url | absolute_url }}', 'newwindow', 'width=550, height=400'); return false;">
        <span class="icon-google-plus"></span>
      </a>
    </div>

    {% if site.discuss %}
    <!-- UY BEGIN -->
    <div id="uyan_frame" class="discuss"></div>
    <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2120476"></script>
    <!-- UY END -->
    {% endif %}
  </article>
