---
layout: default
---

<article class="article">
    <header class="article-info">
        <h1 class="post-title">{{ page.title }}</h1>
        <!-- <p>{{ page.excerpt | strip_html | truncate: 50 }}</p> -->
        <div class="info-footer">
            <!--@author : 念在三角湖畔@time :  -->
            <time class="item" pubdate="{{ page.date | date_to_utc | date: '%Y-%m-%d' }}">
                {{ page.date | date_to_utc | date: "%Y-%m-%d" }}
            </time>
            <span class="divider">-</span>
            <span class="item">
              {% capture words %}
                {{ page.content | number_of_words }}
              {% endcapture %}
              {% unless words contains "-" %}
                {{ words | plus: 250 | divided_by: 250 | append: " minute read" }}
              {% endunless %}
            </span>

            <span class="divider">-</span>

            <div class="item article-tags">
              {% if page.tags.size > 0 %}
                 {% for tag in page.tags %}
                    <a href="{{ 'tag/' | relative_url }}{{ tag | replace: ".", "-" }}">{{ tag }}</a>
                 {% endfor %}
              {% else %}
                <a href="{{ 'tag/' | relative_url }}other">OTHER</a>
              {% endif %}
            </div>
        </div>
    </header>

    <div class="article-content">
      {{ content }}
    </div>

    <div class="article-share">
      {% assign page_title = page.title  | truncate '110' %}
      <a href="" title="Share on Twitter" onclick="window.open('https://twitter.com/home?status={{ page_title }} - {{ page.url | absolute_url }} {% if site.social.twitter %}by @{{ site.social.twitter }}{% endif %}', 'newwindow', 'width=500, height=225'); return false;">
        <span class="icon-twitter"></span>
      </a>
      <a href="" title="Share on Facebook" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u={{ page.url | absolute_url }}', 'newwindow', 'width=500, height=500'); return false;">
        <span class="icon-facebook2"></span>
      </a>
      <a href="" title="Share on Google+" onclick="window.open('https://plus.google.com/share?url={{ page.url | absolute_url }}', 'newwindow', 'width=550, height=400'); return false;">
        <span class="icon-google-plus"></span>
      </a>
    </div>

    {% if site.discuss %}
    <!-- 多说评论框 start -->
	<div class="ds-thread discuss" data-thread-key="{{page.id | replace: "/", "-"}}" data-title="{{page.title}}" data-url=""></div>
    <!-- 多说评论框 end -->
    <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
    <script type="text/javascript">
    var duoshuoQuery = {short_name:"zdying"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0]
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
    <!-- 多说公共JS代码 end -->
    {% endif %}

  </article>
