/* 布局 */
@media (min-width: 768px){
    .page-header{
        width: 650px;
        margin: 0 auto;
        padding: 30px 15px 30px;
        border-bottom: 1px solid #ebeaea;
        display: flex;
        align-items: center;
    }

    /* header */
    .page-header h1,
    .page-header nav,
    .page-header nav ul li{
        display: inline-block;
        margin-left: 15px;
    }

    .page-header h1{
        width: 200px;
        margin: 0;
    }

    .page-header nav{
        flex: 1;
        text-align: right;
    }

    .page-header .list{
        margin: 0;
    }

    .page-main {
      width: 650px;
      margin: 0 auto;
    }

    .page-footer{
        width: 650px;
        display: block;
        margin: 0 auto;
        padding: 35px 0 85px;
        border-top: 1px solid #ebeaea;
    }
}

@media (max-width: 767px) {
    .page-header{
        margin: 0 auto;
        padding: 30px 15px 30px;
        border-bottom: 1px solid #ebeaea;
        text-align: center;
    }

    /* header */
    .page-header nav ul{
        margin: 0;
        padding: 0;
    }

    .page-header nav ul li{
        display: inline-block;
        margin-left: 15px;
    }

    .page-header h1{
    }

    .page-header .list{
        margin: 0;
    }

    .page-main {
      margin: 0 auto;
      padding: 0 15px;
    }

    .page-footer{
        display: block;
        padding: 35px 15px 85px;
        border-top: 1px solid #ebeaea;
    }
}

/* 列表 */
.article{
    padding: 0
}
.article.list .article-header {
  padding: 50px 0;
}
.article .article-info {
  position: relative;
  padding: 50px 0;
  display: block;
  border-bottom: 1px solid #ebeaea;
}
.article .article-info:last-child{
    border-bottom: 0;
}
.article .article-info a {
  display: block;
  padding-right: 15px;
  text-decoration: none;
}
.article .article-info .post-title{
  margin: 0;
  font-weight: 400;
}
.article .article-info p {
  display: block;
  margin: 12px 0 10px;
  font-size: 15px;
  color: #615b5b;
}
.article .article-info .info-footer {
  display: inline-block;
  font-size: 12px;
  color: #ada8a8;
  text-transform: uppercase;
  vertical-align: middle;
}
.article .article-info .info-footer .divider {
  margin: 0 10px;
}
.article .article-info .article-tags {
  display: inline-block;
}
.article .article-info .article-tags a {
  display: inline-block;
  text-decoration: underline;
}

/* 视频播放 */
.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    padding-bottom: 75%;
    margin-bottom: 30px;
    overflow: hidden
}

.embed-responsive iframe,.embed-responsive embed,.embed-responsive object,.embed-responsive video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0
}

.embed-responsive-16by9 {
    padding-bottom: 56.25%;
}

/* 分享 */
.article-share a{
    margin-right: 10px;
    color: #ada8a8;
    vertical-align: middle;
    text-decoration: none;
    transition: color 0.2s linear;
}

.article-share{
    margin-top: 30px;
}
.article-share a:hover{
    color: #615b5b;
}

/* 评论 */
.discuss{
    margin-top: 30px;
    border-top: 1px solid #ebeaea;
    padding-top: 20px;
}

/* 分页 */
.list-pagination{
    display: flex;
    height: 93px;
    padding: 15px 0;
}
.list-pagination a{
    flex: 1;
    text-align: center;
    color: #888181;
    transition: color 0.2s linear;
}

.list-pagination a:hover{
    color: #121111
}

/* image */
img~em {
    text-align: center;
    width: 100%;
    display: inline-block;
    margin-bottom: 20px;
}

img{
    margin-top: 20px;
}
