/* 布局 */
.page-header{
    width: 650px;
    margin: 0 auto;
    padding: 55px 0 20px;
    border-bottom: 1px solid #ebeaea;
    display: flex;
    align-items: center;
}
.page-main {
  width: 650px;
  margin: 0 auto;
}

/* header */
.page-header h1,
.page-header nav,
.page-header nav ul li{
    display: inline-block;
    margin-left: 15px;
}

.page-header h1{
    width: 200px;
    margin: 0;
}

.page-header nav{
    flex: 1;
    text-align: right;
}

.page-header .list{
    margin: 0;
}

/* 列表 */
.article{
    padding: 0
}
.article.list .article-header {
  padding: 50px 0;
}
.article .article-info {
  position: relative;
  padding: 50px 0;
  display: block;
  border-bottom: 1px solid #ebeaea;
}
.article .article-info a {
  display: block;
  padding-right: 25px;
  text-decoration: none;
}
.article .article-info .post-title{
  margin: 0;
}
.article .article-info p {
  display: block;
  margin: 12px 0 10px;
  font-size: 15px;
  color: #615b5b;
}
.article .article-info .info-footer {
  display: inline-block;
  font-size: 12px;
  color: #ada8a8;
  text-transform: uppercase;
  vertical-align: middle;
}
.article .article-info .info-footer .divider {
  margin: 0 10px;
}
.article .article-info .article-tags {
  display: inline-block;
}
.article .article-info .article-tags a {
  display: inline-block;
  text-decoration: underline;
}

/* 视频播放 */
.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    padding-bottom: 75%;
    margin-bottom: 30px;
    overflow: hidden
}

.embed-responsive iframe,.embed-responsive embed,.embed-responsive object,.embed-responsive video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0
}

.embed-responsive-16by9 {
    padding-bottom: 56.25%;
}
